/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------------- Custom Styles ---------------------*/

/* General Styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

img {
  width: 100%;
  display: block;
}

.dark-bg {
  background-color: #222946;
  color: #fff;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-1-3 {
  width: 30%;
  margin: 20px 0;
  /* height: 200px; */
}

.wrapped {
  flex-wrap: wrap;
}

.nav-list-item {
  display: inline-block;
  margin-left: 32px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------header------------------ */

/* Typography */

.brand-logo {
  width: 200px;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.active-link {
  color: #64b165;
}

/* layout */
.header {
  padding: 32px 0;
}

/* ---------------Gallery------------------ */

/* Typography */
.heading {
  font-size: 72px;
  text-transform: uppercase;
  margin-bottom: 48px;
}

/* layout */
.gallery {
  padding: 72px 0;
}

.gallery img {
  height: 200px;
  object-fit: cover;
}

/* ---------------Footer------------------ */

/* Typography */

small,
.social-icon {
  color: #bcc0d2;
  font-size: 20px;
}

.social-icon {
  font-size: 24px;
}

/* layout */

.footer {
  padding: 32px 0;
}
