/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom CSS Code */

/* General Styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 32px;
  font-family: "Happy Monkey", cursive;
  line-height: 1.5;
  background-color: rgb(214, 184, 63);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-container {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 100%;
}

/*-------------------------- header */

/* Typography */
.brand-name {
  font-family: "Luckiest Guy", cursive;
  font-size: 72px;
  color: maroon;
}

.nav-list-item {
  display: inline-block;
}

.nav-link {
  text-decoration: none;
  color: maroon;
  text-transform: uppercase;
  font-size: 24px;
}

/* layout */
.nav-list-item {
  margin-left: 32px;
}
/*---------------------------- layout */

/* article section */

/* typography */
.article-heading {
  font-size: 48px;
}

/* layout */
.article {
  display: flex;
}

.article-img {
  width: 50%;
}

.article-text {
  margin-right: 40px;
}

.article-section {
  margin: 50px 0 100px;
}

/* ---------------------------gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-img {
  width: 33.3%;
  height: 500px;
  object-fit: cover;
}

/* footer */

.footer-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
